VITE_JSONBIN_API_KEY=
VITE_JSONBIN_BIN_ID=
VITE_JSONBIN_COLLECTION_ID=

VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_API_SECRET=

VITE_ADMIN_PASSWORD=

VITE_PAYPAL_CLIENT_ID=
VITE_PAYPAL_EMAIL=

VITE_WHATSAPP_NUMBER=

VITE_LANGSBY_API_KEY=
VITE_LANGBLY_API_KEY=
